.medicamento {
    background-color: #ffffff;
    color: #5c5c5c;
}

.medicamento img {
    width: 100%;
}

.medicamento .info {
    padding: 10px;
}

.item-medicamento {
    margin: 3px;
}

.medicamento .info.principal {
    color: #192e5a;
}

.medicamento .info h2 {
    margin: 0;
}

.medicamento .info h6 {
    margin: 0;
}

.ver-mas {
    display: flex;
    justify-content: end;
    margin: 15px 25px;
}