.menu {
    background-color: #418fde;
}
  
/* Lista */
ul.menu {
    padding: 0;
    margin: 0;
}

ul.menu li {
    background-color: #418fde;
    list-style: none;
}

ul.menu li a {
    background-color: #418fde;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 5px;
}

ul.menu li a:hover {
    background-color: #192e5a;
}
  
/* Menú mobile */
@media screen and (max-width: 768px) {
    .menu {
        background-color: #418fde;
        flex-direction: column;
    }
}