.proveedor {
    background-color: #ffffff;
    color: #5c5c5c;
}

.proveedor img {
    width: 100%;
}

.proveedor .info {
    padding: 10px;
}

.item-proveedor {
    margin: 3px;
}

.proveedor .info.principal {
    color: #192e5a;
}

.proveedor .info h2 {
    margin: 0;
}

.proveedor .info h6 {
    margin: 0;
}

.ver-mas {
    display: flex;
    justify-content: end;
    margin: 15px 25px;
}