header {
    background-color: #192e5a;
    position: relative;
}

header .container {
    padding: 15px 0;
    background-color: #418fde;
    position: relative;
    z-index: 1;
}
  
/* Logo */
.logo {
    font-family: "Ramaraja", cursive;
    font-weight: 500;
    font-size: 32px;
    padding: 5px 10px;
    background-color: #418fde;
    border-radius: 5px;
    color: #ffffff/*#729E64*/;
    margin-left: 10px;
    white-space: nowrap;
}
  
/* Menú responsive */
.btn-menu-responsive {
    display: none;
    margin-right: 10px;
    font-size: 20px;
}

.menu-responsive {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: all 0.5s ease;
}

.menu-responsive.open {
    bottom: -200px; /* ¿cómo hacer para que este valor no este quemado? */
}

.menu-responsive ul li {
    border-top: 1px solid #000;
}

.menu-responsive ul li a {
    display: block;
    background-color: #ffffff;
    border-radius: 0;
    padding: 15px;
}
  
.btn-login {
    margin: 0 10px;
    font-size: 20px;
}
  
/* Menú mobile */
@media screen and (max-width: 768px) {
    header {
      padding-bottom: 0;
    }

    .btn-menu-responsive {
      display: block;
    }

    .menu-responsive {
      display: block;
    }
}