footer {
    background-color: #192e5a;
    width: 100%;
    color: #6c7793;
    position: relative;
}

footer .container {
    margin:20px 0;
    padding: 15px 0;
    background-color: #192e5a;
    justify-content: center;
    z-index: 1;
}

@media screen and (max-width: 576px) {
    footer .container {
      font-size: 10pt;
    }
}