/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FCF7DE;
  background-color: #4b6941;
}

a {
  color: #FCF7DE;
  text-decoration: none;
}

.container {
  width: 1366px;
  max-width: 100%;
  margin: auto;
}

.btn {
  font-size: 16px;
  color: #FCF7DE;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.btn.btn-dark {
  border: 1px solid #FCF7DE;
  padding: 10px;
  border-radius: 5px;
}
.btn.btn-dark:hover {
  background-color: #729E64;
}

/* FLEXBOX */
.flex {
  display: flex;
}
.flex.justify-space-between {
  justify-content: space-between;
}
.flex.align-center {
  align-items: center;
}
.flex.direction-column {
  flex-direction: column;
}
