#medicamentos {
    padding: 15px;
}
  
.grid-medicamentos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
}
  
@media screen and (max-width: 992px) {
    .grid-medicamentos {
      grid-template-columns: repeat(4, 1fr);
    }
}
  
@media screen and (max-width: 768px) {
    .grid-medicamentos {
      grid-template-columns: repeat(3, 1fr);
    }
}
  
@media screen and (max-width: 576px) {
    .grid-medicamentos {
      grid-template-columns: 1fr;
    }
}